body,
html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: black;
    color: white;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

.search-container,
.toggle-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.search-container input {
    padding: 5px;
    width: 70%;
    font-size: 16px;
}

.dark-mode-toggle {
    cursor: pointer;
    padding: 5px 10px;
    border: none;
    background-color: #4caf50;
    color: white;
    border-radius: 4px;
}

table {
    width: 100%;
    border-collapse: collapse;
    background-color: #1a1a1a;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
}

th,
td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #333;
    cursor: pointer;
}

th {
    background-color: #2c2c2c;
    font-weight: bold;
}

tr:nth-child(even) {
    background-color: #262626;
}

tr:hover {
    background-color: #333;
    transition: background-color 0.3s ease;
}

.rating {
    display: inline-block;
    transition: transform 0.3s ease;
    position: relative;
}

.rating:hover::after {
    content: attr(data-tooltip);
    position: absolute;
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
    padding: 5px;
    border-radius: 4px;
    white-space: nowrap;
    font-size: 12px;
}

.rating:hover {
    transform: scale(1.1);
}

.gray {
    color: #a0a0a0;
}

.green {
    color: #4caf50;
}

.blue {
    color: #2196f3;
}

.yellow {
    color: #ffc107;
}

.red {
    color: #f44336;
}

.purple {
    color: #9c27b0;
}
